@model ParseTheParcel.Models.Package

<div class="form-group">
    <div class="labelholder">
        @Html.LabelFor(model => model.Breath)<span class="text-warning"> (in mm)</span>
    </div>

    <div class="inputholder">
        @Html.EditorFor(model => model.Breath)
    </div>
</div>

